<div class="section-blue--bg">
    {% if colorful %}
    <div class="section-green">
        <div class="section-left section-text">
            <span class="headline-line line-blue"></span>
            <h2>Top 6 Colors <br> Without Neutrals</h2>
            <span class="headline-line line-blue"></span>
            <p>The following five colors are the most popular text and background colors of all crawled websites.</p>
        </div>
        <div class="section-right colorful">
            <div class="color-wrapper">
                <div class="color-item" style="background-color:{{colorful[0][0]}}">
                    <div class="color-inner">
                        <span class="color-name">{{colorful[0][0]}}</span>
                        <span class="color-percent">{{colorful[0][1]}}%</span>
                    </div>
                </div>
            </div>
            <div class="color-wrapper">
                <div class="color-item" style="background-color:{{colorful[1][0]}}">
                    <div class="color-inner">
                        <span class="color-name">{{colorful[1][0]}}</span>
                        <span class="color-percent">{{colorful[1][1]}}%</span>
                    </div>
                </div>
            </div>
            <div class="color-wrapper">
                <div class="color-item" style="background-color:{{colorful[2][0]}}">
                    <div class="color-inner">
                        <span class="color-name">{{colorful[2][0]}}</span>
                        <span class="color-percent">{{colorful[2][1]}}%</span>
                    </div>
                </div>
            </div>
            <div class="color-wrapper">
                <div class="color-item" style="background-color:{{colorful[3][0]}}">
                    <div class="color-inner">
                        <span class="color-name">{{colorful[3][0]}}</span>
                        <span class="color-percent">{{colorful[3][1]}}%</span>
                    </div>
                </div>
            </div>
            <div class="color-wrapper">
                <div class="color-item" style="background-color:{{colorful[4][0]}}">
                    <div class="color-inner">
                        <span class="color-name">{{colorful[4][0]}}</span>
                        <span class="color-percent">{{colorful[4][1]}}%</span>
                    </div>
                </div>
            </div>
            <div class="color-wrapper">
                <div class="color-item" style="background-color:{{colorful[5][0]}}">
                    <div class="color-inner">
                        <span class="color-name">{{colorful[5][0]}}</span>
                        <span class="color-percent">{{colorful[5][1]}}%</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
    {% endif %}
</div>
