{% if encoding %}
<div class="section-green--bg">
    <div class="section-green ">
        <div class="section-left section-text">
            <span class="headline-line"></span>
            <h2>Encodings</h2>
            <span class="headline-line"></span>
            <p>The following pie charts shows the distribution of different encodings.</p>
        </div>
        <div class="section-right section-right-normal" style="padding:10px;">
            <div id="encodings-container" style="min-width: 310px; height: 380px; max-width: 600px; margin: 0 auto"></div>
        </div>
    </div>
</div>
{% endif %}
<script>
        $(function () {

            // Make monochrome colors and set them as default for all pies
            Highcharts.getOptions().plotOptions.pie.colors = (function () {
                var colors = [],
                        base = '#c4c857',
                        i;

                for (i = 0; i < 10; i += 1) {
                    // Start out with a darkened base color (negative brighten), and end
                    // up with a much brighter color
                    colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
                }
                return colors;
            }());

            // Build the chart
            Highcharts.chart('encodings-container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    style: {
                        fontFamily: 'open_sanslight',
                        fontSize: '20px'
                    }
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                                fontSize: '12px'
                            }
                        }
                    }
                },

                series: [{
                    name: 'Brands',
                    data: {{ encoding| safe }}

                }]
            });
            $('.highcharts-credits').addClass('hidden');
            $('.highcharts-button').addClass('hidden');
        });
    </script>

