<div class="section-red--bg" style="height:100%">
    {% if fonts %}
    <div class="section-top">
        <span class="headline-line"></span>
        <h2>Top 10 Fonts</h2>
        <span class="headline-line"></span>
        <p>The following ten fonts are the most popular fonts of all crawled websites.</p>
    </div>
    <div class="section-red" style="height:100%">

        <div class="section-bottom">
            <div class="row">
            <div class="font-item" style="font-family:{{fonts[0][0]}}, Sans-Serif">
                <div class="font-inner">
                    <span class="font-percent">{{fonts[0][1]}}%</span>
                </div>
                <h3 style="font-family:'{{fonts[0][0]}}', Sans-Serif">{{fonts[0][0]}}</h3>
                <p style="color:grey; font-size:14px;">
                    ABCDEFGHIJKLMN<br/>
                    OPQRSTUVWXYZ<br/>
                    abcdefghijklmnopqrs<br/>
                    tuvwxyz</p>

                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
            <div class="font-item" style="font-family:{{fonts[1][0]}}, Sans-Serif">
                <div class="font-inner">
                    <span class="font-percent">{{fonts[1][1]}}%</span>
                </div>
                <h3 style="font-family:{{fonts[1][0]}}, Sans-Serif">{{fonts[1][0]}}</h3>
                <p style="color:grey; font-size:14px;">
                    ABCDEFGHIJKLMN<br/>
                    OPQRSTUVWXYZ<br/>
                    abcdefghijklmnopqrs<br/>
                    tuvwxyz</p>
                <p>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
            <div class="font-item" style="font-family:{{fonts[2][0]}}, Sans-Serif">
                <div class="font-inner">
                    <span class="font-percent">{{fonts[2][1]}}%</span>
                </div>
                <h3 style="font-family:{{fonts[2][0]}}, Sans-Serif">{{fonts[2][0]}}</h3>
                <p style="color:grey; font-size:14px;">
                    ABCDEFGHIJKLMN<br/>
                    OPQRSTUVWXYZ<br/>
                    abcdefghijklmnopqrs<br/>
                    tuvwxyz</p>
                <p>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
            <div class="font-item" style="font-family:{{fonts[3][0]}}, Sans-Serif">
                <div class="font-inner">
                    <span class="font-percent">{{fonts[3][1]}}%</span>
                </div>
                <h3 style="font-family:{{fonts[3][0]}}, Sans-Serif">{{fonts[3][0]}}</h3>
                <p style="color:grey; font-size:14px;">
                    ABCDEFGHIJKLMN<br/>
                    OPQRSTUVWXYZ<br/>
                    abcdefghijklmnopqrs<br/>
                    tuvwxyz</p>
                <p>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
            <div class="font-item" style="font-family:{{fonts[4][0]}}, Sans-Serif">
                <div class="font-inner">
                    <span class="font-percent">{{fonts[4][1]}}%</span>
                </div>
                <h3 style="font-family:{{fonts[4][0]}}, Sans-Serif">{{fonts[4][0]}}</h3>
                <p style="color:grey; font-size:14px;">
                    ABCDEFGHIJKLMN<br/>
                    OPQRSTUVWXYZ<br/>
                    abcdefghijklmnopqrs<br/>
                    tuvwxyz</p>
                <p>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
            </div>
            <div class="row">
            <div class="font-item" style="font-family:{{fonts[5][0]}}, Sans-Serif">
                <div class="font-inner">
                    <span class="font-percent">{{fonts[5][1]}}%</span>
                </div>
                <h3 style="font-family:'{{fonts[5][0]}}', Sans-Serif">{{fonts[5][0]}}</h3>
                <p style="color:grey; font-size:14px;">
                    ABCDEFGHIJKLMN<br/>
                    OPQRSTUVWXYZ<br/>
                    abcdefghijklmnopqrs<br/>
                    tuvwxyz</p>

                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
            <div class="font-item" style="font-family:{{fonts[6][0]}}, Sans-Serif">
                <div class="font-inner">
                    <span class="font-percent">{{fonts[6][1]}}%</span>
                </div>
                <h3 style="font-family:{{fonts[6][0]}}, Sans-Serif">{{fonts[6][0]}}</h3>
                <p style="color:grey; font-size:14px;">
                    ABCDEFGHIJKLMN<br/>
                    OPQRSTUVWXYZ<br/>
                    abcdefghijklmnopqrs<br/>
                    tuvwxyz</p>
                <p>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
            <div class="font-item" style="font-family:{{fonts[7][0]}}, Sans-Serif">
                <div class="font-inner">
                    <span class="font-percent">{{fonts[7][1]}}%</span>
                </div>
                <h3 style="font-family:{{fonts[7][0]}}, Sans-Serif">{{fonts[7][0]}}</h3>
                <p style="color:grey; font-size:14px;">
                    ABCDEFGHIJKLMN<br/>
                    OPQRSTUVWXYZ<br/>
                    abcdefghijklmnopqrs<br/>
                    tuvwxyz</p>
                <p>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
            <div class="font-item" style="font-family:{{fonts[8][0]}}, Sans-Serif">
                <div class="font-inner">
                    <span class="font-percent">{{fonts[8][1]}}%</span>
                </div>
                <h3 style="font-family:{{fonts[8][0]}}, Sans-Serif">{{fonts[8][0]}}</h3>
                <p style="color:grey; font-size:14px;">
                    ABCDEFGHIJKLMN<br/>
                    OPQRSTUVWXYZ<br/>
                    abcdefghijklmnopqrs<br/>
                    tuvwxyz</p>
                <p>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
            <div class="font-item" style="font-family:{{fonts[9][0]}}, Sans-Serif">
                <div class="font-inner">
                    <span class="font-percent">{{fonts[9][1]}}%</span>
                </div>
                <h3 style="font-family:{{fonts[9][0]}}, Sans-Serif">{{fonts[9][0]}}</h3>
                <p style="color:grey; font-size:14px;">
                    ABCDEFGHIJKLMN<br/>
                    OPQRSTUVWXYZ<br/>
                    abcdefghijklmnopqrs<br/>
                    tuvwxyz</p>
                <p>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
