{% if img_formats %}
<div class="section-red--bg" style="margin-bottom: 230px; height:450px;">
    <div class="section-red">
        <div class="section-left section-big" style="padding:10px; left:inherit">
            <div id="img-container" style="min-width: 310px; height: 380px; max-width: 600px; margin: 0 auto"></div>

        </div>
        <div class="section-right section-right-normal section-text section-small" style="right:0px;">
            <span class="headline-line line-red"></span>
            <h2>Image Formats</h2>
            <span class="headline-line line-red"></span>
            <p>The following pie charts shows the distribution of Image Formats.</p>
        </div>
    </div>
</div>
{% endif %}

<script>
        $(function () {

            // Make monochrome colors and set them as default for all pies
            Highcharts.getOptions().plotOptions.pie.colors = (function () {
                var colors = [],
                        base = '#cb5049',
                        i;

                for (i = 0; i < 10; i += 1) {
                    // Start out with a darkened base color (negative brighten), and end
                    // up with a much brighter color
                    colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
                }
                return colors;
            }());

            // Build the chart
            Highcharts.chart('img-container', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    style: {
                        fontFamily: 'open_sanslight'
                    }
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                                fontSize: '12px'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Distribution',
                    data: {{ img_formats| safe }}
                }]
            });
            $('.highcharts-credits').addClass('hidden');
            $('.highcharts-button').addClass('hidden');
        });
    </script>